@tailwind base;
@tailwind components;
@tailwind utilities;
/* Navbar.css */

/* Header styling */

#mad-header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.mad-pre-header {
  padding: 0.75rem 3.875rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #eb0029;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(235, 0, 41);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1rem;
  letter-spacing: 0.25px;
  border-bottom: 1px solid #f26375;
}

.mad-header-items {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
}

.mad-our-info {
  display: flex;

  color: #fff; /* Subtle color for info text */
}
.mad-info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff; /* Vibrant icon color */
}

.mad-quick-links a {
  color: #fff; /* Modern blue link color */
  text-decoration: none;
  margin: 0 10px;
}

.mad-quick-links a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}

.mad-quick-links span {
  color: #fff;
}

.mad-header-section--sticky-xl {
  background-color: #eb0029;
}

.mad-header-items {
  margin-top: -1rem;
}

img {
  vertical-align: top;
  max-width: 100%;
}

.mad-navigation-container {
  flex-grow: 1;
  text-align: center;
}

/* Navigation menu */
.mad-navigation {
  list-style: none; /* Remove default list styling */
  display: flex;
  justify-content: right;
}

.mad-navigation .menu-item {
  position: relative;
  margin: 0.15px;
}

.mad-navigation .menu-item a {
  text-decoration: none;

  color: #fff;
  font-weight: bold;

  font-size: 18px;
  padding: 10px 15px;
  transition: color 0.3s;
  border: 1px solid transparent; /* Box appearance */
  border-radius: 5px;
}

.mad-navigation .menu-item a:hover {
  color: #ebe117; /* Color change on hover */
}

.mad-navigation .menu-item-has-children > a::after {
  content: "\f107"; /* Font Awesome down arrow */
  font-family: "Font Awesome 5 Free"; /* Make sure Font Awesome is loaded */
  font-weight: 900;
  margin-left: 10px;
  font-size: 18px;
  transition: transform 0.3s;
}

.mad-navigation {
  position: relative;
  list-style: none;
  padding: 15px;

  margin: 10px;
}

.mad-navigation > li {
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
}

.mad-navigation > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.mad-navigation > li:hover > a,
.mad-navigation > li.current-menu-item > a {
  color: #ebe117;
}

.mad-navigation .sub-menu {
  font-family: "Josefin Sans", sans-serif;
  width: 21.75rem;
  padding: 2rem;

  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1.3125rem;
  border-radius: 1.5rem;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  background-color: #232223;
  box-shadow: 0px 0px 30px 0px rgba(15, 27, 56, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: scale(0.95);
  z-index: 999;
}

.mad-navigation .sub-menu li {
  margin-bottom: 0.5rem;
}

.mad-navigation .sub-menu li > a {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  border-bottom: 1px solid transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.mad-navigation > li:hover .sub-menu,
.mad-navigation .menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.mad-navigation .sub-menu:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 2rem;
}

.mad-navigation .sub-menu .menu-item-has-children > a::after {
  margin-left: 10px;
}

/* Header items */
.mad-header-item {
  display: flex;
  align-items: center;
}

.mad-our-info.type-2 .mad-info {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.mad-our-info.type-2 .mad-info i {
  font-size: 2.5rem;
  color: #fff;
  min-width: 3rem;
}

.mad-our-info .mad-info > i {
  min-width: 1rem;
  font-size: 1.125rem;

  line-height: inherit;
}

.mad-our-info.type-2 .mad-info span {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.mad-our-info.type-2 .mad-info .mad-info-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  color: #ebe117;
}

.mad-actions .mad-item-link i {
  font-size: 1.375rem;
  line-height: 3rem;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;

  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.mad-actions .mad-item-link {
  position: relative;
  color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background: #b8001f;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(184, 0, 31);
  text-align: center;
  display: block;
  margin: 0 0.3rem;
}

.mad-actions > .mad-item {
  padding: 1rem 0.5rem 0;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0px;
  padding-left: 750px;
  display: flex;
}

.btn-small {
  font-size: 0.9375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn {
  font-family: "Lato", sans-serif;
  padding: 15px 2rem 18px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  display: inline-block !important;
  color: #232223;
  text-align: center;
  line-height: 1rem;
  font-weight: 600;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  z-index: 1;
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: relative;
  background: #ebe117;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(235, 225, 23);
}

.mad-link,
a,
button {
  transition: all 0.5s ease;
  transition-behavior: normal;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

[class*="mad-header-section--sticky"] {
  padding: 2.125rem 0.875rem;
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .mad-navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .mad-navigation .menu-item {
    margin: 5px 0;
  }

  .mad-navigation .single-dropdown-box {
    width: 100%; /* Full width on small screens */
  }
}

@media (max-width: 769px) {
  .mad-header-items {
    flex-direction: row;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .mad-header-items {
    margin-top: -1rem;
  }
}
@media only screen and (max-width: 1620px) {
  .mad-header-items {
    margin-top: -1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .mad-header:not(.style-2) .mad-pre-header .mad-pre-header-wrap,
  .mad-header:not(.header-3) .mad-pre-header,
  .mad-header:not(.style-2) [class*="mad-header-section--sticky"],
  .mad-section--stretched-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 769px) {
  .mad-pre-header .mad-pre-header-wrap,
  .mad-header:not(.header-3) .mad-pre-header,
  .mad-header-section--sticky-xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 769px) {
  .mad-header-items {
    flex-direction: row;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .mad-header-items {
    margin-top: -1rem;
  }
}

@media (max-width: 769px) {
  .mad-navigation:not(.side-menu) > li:hover > a,
  .mad-navigation:not(.side-menu) > li.current-menu-item > a,
  .mad-navigation:not(.side-menu) > li.mad-tapped > a {
    background: #ebe117;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(235, 225, 23);
    color: #232223 !important;
  }
}
@media (max-width: 769px) {
  .mad-header .mad-navigation > li > a {
    line-height: 2rem;
  }
}

@media (max-width: 769px) {
  .mad-header-items {
    flex-direction: row;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .mad-header-items {
    margin-top: -1rem;
  }
}
